# Beispiel-Konfiguration
ADMIN_PASS=dein_passwort
LATITUDE=52.5200
LONGITUDE=13.4050
MQTT_BROKER_URL=192.168.178.xxx
MQTT_BROKER_PORT=1883
MQTT_USERNAME=dein_mqtt_user
MQTT_PASSWORD=dein_mqtt_passwort